* {
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-family: "Noto Nerd Font", "Noto NF", "Overpass Nerd Font", "Overpass NF", "Arimo Nerd Font", "Arimo NF", "Nerd Font", "FontAwesome", "Noto Sans", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12.7px;
  font-weight: 500;
  text-shadow: none;
  color: rgba(255, 255, 255, 1.0);
}

window#waybar {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333333;

  padding: 0 5px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-right {
  padding: 0 10px;
}

.modules-right * {
  font-family: "Overpass Nerd Font", "Overpass NF", "Arimo Nerd Font", "Arimo NF", "Noto Nerd Font", "Noto NF", "Nerd Font", "FontAwesome", "Noto Sans", "Roboto", "Helvetica", "Arial", sans-serif;
}

.modules-right label.module {
  padding: 0 8px;
}

#clock {
  font-size: 12px;
  margin-left: 10px;
}

#taskbar button {
  min-width: 175px;

  border-radius: 0;
  border-bottom: 3px solid #969696;

  transition-property: border-color;
  transition-duration: 150ms;
}

#taskbar button.active {
  border-bottom: 3px solid #333333;
}

#workspaces button {
  border-bottom: 3px solid #969696;

  transition-property: border-color;
  transition-duration: 150ms;
}

#workspaces button.active {
  border-bottom: 3px solid #333333;
}
